.list {
  margin-top: 30px;
  padding: 0;
  width: calc(var(16px) * 19);
}

.item {
  display: flex;
  align-items: center;
  width: 360px;
  height: 130px;
  margin-bottom: 15px;
  border: 1px solid #adabab;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 3px #adff2f;
}

.status {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-right: 8px;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.images {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 8px;
  overflow: hidden;
  background-color: teal;
  border-radius: 8px;
}

.text {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}